*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(rgb(0, 0, 0), #000) ;
    align-items: center;
    text-align: center;
}

.cabeçalho{
    background-color:rgba(0, 16, 238, 0);
    align-items: center;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #b3b3b3;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;
}

.imagem{
    width: 60%;
    align-items: center;
}

.imagem-rodape{
    height: 60px;
    padding: 12px 0;
}

.rodape{
    display: grid;
    grid-template-columns:45% 5% 35% 15%;
    padding: 10px;
}

.imagem-rodape{
    height: 60px;
    padding: 12px 0;
}

.voltar{
    background-color: #00000000;
    color: #fff;
    width: 50px;
}

.imagem-trator{
    width: 100%;
}

.imagens-1{
    display: grid;
    grid-template-columns: 12% 32% 12% 32% 12%;
    padding: 10px;
}

.imagens-2{
    display: grid;
    grid-template-columns:20% 60% 20%;
    padding: 10px;
}

.maquinarios{
    text-align: center;
}

.nome-maquinario{
    text-align: center;
    color: #fff;
    font-size: 30px;;
}

.imagem-trator-colheitadeira{
    width: 100%;
}